@import '~@angular/material/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn: mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);

mat-cell.mat-cell, mat-header-cell.mat-header-cell {
  overflow: visible;
}

.mat-table.rest-grid {

  .mat-row, .mat-header-row {
    //background: white;
    min-width: 900px;
  }

  .mat-button {
    padding:0px;
    min-width:30px;
  }

  //.mat-header-cell {
  //  -webkit-touch-callout: none;
  //  -webkit-user-select: none;
  //  -khtml-user-select: none;
  //  -moz-user-select: none;
  //  -ms-user-select: none;
  //  user-select: none;
  //}

  .mat-icon {
    height: 15px;
    width: 15px;

    &.material-icons {
      font-size: 16px;
    }
  }
}

/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  position: relative;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.example-table {
  overflow: auto;
  min-height: 300px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.mat-header-row {
  top: 0;
  position: sticky;
  z-index: 1;
  background-color: inherit;
}
