<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table #table [dataSource]="dataSource" class="example-table rest-grid">
    <ng-container *ngFor="let column of displayedColumns;" matColumnDef="{{ column }}">
      <mat-header-cell *matHeaderCellDef>
        <span>{{ column.toLocaleUpperCase() }}</span>

        <button mat-button (click)="doSort(column)">
          <mat-icon *ngIf="!isInAsc(column) && !isInDesc(column)">sort</mat-icon>
          <mat-icon *ngIf="isInAsc(column)">arrow_upward</mat-icon>
          <mat-icon *ngIf="isInDesc(column)">arrow_downward</mat-icon>
        </button>

        <rg-contextual-menu>
          <rg-date-filter *ngIf="columns[column].type === 'date'"></rg-date-filter>
          <rg-number-filter *ngIf="columns[column].type === 'number'"></rg-number-filter>
          <rg-string-filter *ngIf="columns[column].type === 'string'"></rg-string-filter>
        </rg-contextual-menu>
      </mat-header-cell>

      <mat-cell *matCellDef="let row;">
        <span *ngIf="columns[column].type != 'date'">{{ row[column] }}</span>
        <span *ngIf="columns[column].type === 'date'">{{ row[column] | date }}</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
