<mat-spinner *ngIf="!dataIsReady()" style="margin:0 auto;" [diameter]="30"></mat-spinner>

<mat-table *ngIf="dataIsReady()" #table [dataSource]="dataSource">
  <ng-container *ngFor="let column of displayedColumns;" matColumnDef="{{ column }}">
    <div *ngIf="column != 'select'">
      <mat-header-cell *matHeaderCellDef>{{ column.toLocaleUpperCase() }}</mat-header-cell>
      <mat-cell *matCellDef="let element;">{{ element[column] }}</mat-cell>
    </div>

    <div *ngIf="column === 'select'">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>

      <mat-cell *matCellDef="let row;">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </div>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
